[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/zsh-autopair"]
	path = zsh/autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "zsh/fast-syntax-highlighting"]
	path = zsh/fsh
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "zsh/kube-ps1"]
	path = zsh/kube-ps1
	url = https://github.com/jonmosco/kube-ps1
