[core]
	excludesfile = ~/.cvsignore
  autocrlf = input
[color]
	ui = auto
[user]
	email = ioannis.koutras@gmail.com
	name = Ioannis Koutras
[alias]
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  cane = commit --amend --no-edit
  cm = commit -m
  get = clone --recursive
	lg = log --graph --all --decorate --oneline
  pr = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
  publish = "!git push -u origin $(git branch-name)"
  rh = reset --hard
  sync = "!git checkout master && git pull upstream master && git push origin master"
  uncommit = reset --soft HEAD^
[hub]
  protocol = git
[sendemail]
	from = Ioannis Koutras <ioannis.koutras@gmail.com>
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = ioannis.koutras@gmail.com
	smtpserverport = 587
	chainreplyto = false
[commit]
	template = ~/.config/git-commit-template.txt
[push]
	default = simple
[pull]
	rebase = true
  autostash = true
[rebase]
  autosetuprebase = always
[rerere]
  enabled = true
[diff "sopsdiffer"]
	textconv = sops -d
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
[url "ssh://git@git.joko.gr:10022/joko/"]
  insteadOf = gogs:
[url "git@github.com:jokogr/"]
  insteadOf = gh:
