#include "/home/joko/.config/xresources/base16-tomorrow.dark.256"

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb

URxvt.scrollBar: false

*font: xft:Inconsolata:size=11

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.colorUL: t_orange

Xcursor.theme: Human
