#include ".config/xresources/base16-tomorrow.dark.256"

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb

URxvt.scrollBar: false
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1
URxvt*shading: 24
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt*skipBuiltinGlyphs: true
*font: xft:Iosevka Term:style=Regular:size=14,xft:Symbola:style=Regular:size=26

URxvt.perl-ext-common: default,matcher,newterm
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 1
URxvt.colorUL: base0A

URxvt.keysym.C-S-N: perl:newterm

Xcursor.theme: breeze_cursors
